doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title Natours | #{title}

    body
        //- h1= tour 
        //- h2= user.toUpperCase()
        //- //- h1 The Park Camper  Comment

        //- //- UnBuffered Code
        //- - const x=9
        //- h2=2*x
        // HEADER
        include _header



        // Content
        block content
            h1 This is a placeholder

        //Footer
        include _footer

        


